* {
	box-sizing: border-box;
}

h1 {
	color: green;
}

#features-container {
	border: 3px solid limegreen;
	padding: 10px 20px;
}

.features-text {
	font-size: 24px;
	margin: 0;
}

p.features-text {
	font-size: 16px;
	margin-top: 8px;
}

#features-header {
	margin-top: 6px;
}

#features-list {
	background-color: #000000;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
}

#question-input {
	height: 60px;
	width: 240px;
}

#click-button {
	margin-top: 16px;
	margin-left: 16px;
	background-color: forestgreen;
	color: white;
	box-shadow: 0 0 5px 5px blue;
    border: 3px solid white;
    border-radius: 12px;
    padding: 10px 16px;
    font-size: 24px;
	font-family: monospace;
	transition: 0.3s all;
}

#click-button:hover {
    background-color: blue;
    box-shadow: 0 0 5px 5px forestgreen;
	border-radius: 20px;
	border: 3px dashed white;
}