* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  color: green;
  margin-left: 12px;
  margin-bottom: 8px;
}

#features-container {
  border: 3px solid limegreen;
  border-radius: 8px;
  padding: 10px 20px;
}

.features-text {
  font-size: 32px;
  margin: 0;
}

p.features-text {
  font-size: 20px;
  margin-top: 8px;
}

#features-header {
  margin-top: 6px;
}

#features-list {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

#features-list > li {
  color: white;
}

#question-input {
  height: 45px;
  width: 400px;
  font-size: 16px;
  border-radius: 8px;
  padding: 0px 12px;
  border: 2px solid black;
}

#submit-button {
  margin-top: 16px;
  margin-left: 16px;
  background-color: forestgreen;
  color: white;
  box-shadow: 0 0 5px 5px blue;
  padding: 10px 16px;
  font-size: 20px;
  border-radius: 12px;
  border: 3px solid white;
  font-family: monospace;
  transition: 300ms all;
}

#submit-button:hover {
  background-color: blue;
  box-shadow: 0 0 5px 5px forestgreen;
  border-radius: 20px;
  border: 3px dashed white;
}
