body { 
	margin: 0;
}

h1, h2, p {
	margin: 0;
}

* {
	font-family: "Red Hat Display";
}

:root {
	--accent: #3235e5;
}

#navbar {
	background-color: var(--accent);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 70px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

#logo-text {
	color: white;
}

#navbar-link-container > a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
}

#navbar-link-container > a:hover {
	text-decoration: underline;
}

#navbar-link-container {
	display: flex;
	gap: 20px;
}

#app {
	margin-top: 70px;
	height: calc(100vh - 70px);
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 10px;
}