#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--bg-alt);
	height: 4em;
	padding: 0 20px;

	/* Start your code here: */

	display: flex;
	justify-content: space-between;
	align-items: center;	
}

#logo-container {
	display: flex;
	gap: 16px;
}

#nav-links {
	display: flex;
	gap: 20px;
}


/* End Code */


#launch {
	font-size: 16px;
	padding: 6px 10px;
	background-color: var(--accent);
	color: white;
	font-weight: bold;
	border-radius: 8px;
	border: 2px solid #e5e5e5;
}

#logo {
	height: 2em;
}

.nav-link {
	color: white;
	font-size: 20px;
}